#inv-calc-center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calc-selector-div {
  display: flex;
  flex-direction: column;
}

#calc-selector-title-div {
  text-align: center;
}

#calc-selector-content-div {
  display: flex;
  justify-content: center;
}

#calc-type-select {
  height: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px -2px 10px rgba(0,0,0,0.5) inset;

  padding-left: 5px;
}

#choose-calc-button {
  width: 120px;
  height: 30px;
  color: white;
  font-size: 15px;
  background-color: green;
  
  border-style: solid;
  border-color: green;
  border-width: 3px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  cursor: pointer;

  transition: background-color 0.5s;
}

#choose-calc-button:hover {
  background-color: rgb(0,69,0);
}

.input-div {
  margin-top: 15px;
  width: 300px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.add-border-input-div {
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 15px;
}

.input-set {
  margin: 5px 0;
}

.input-div-hr {
  width: 90%;
  opacity: 0.5;
}

.calc-text-in {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 60px;
  margin-top: 3px;

  display: block;

  border-radius: 10px;
  border-style: none;
  padding-left: 7px;
  padding-right: 7px;

  box-shadow: 0px -2px 10px rgba(0,0,0,0.5) inset;
}

.comp-freq-select {
  position: relative;
  left: 50%;
  translate: -50%;
  width: 120px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;

  border-style: none;
  border-radius: 10px;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.5) inset;

  display: block;
}

.calculate-button {
  margin-bottom: 10px;
  width: 120px;
  height: 30px;

  color: white;
  font-size: 15px;
  background-color: green;
  border-style: solid;
  border-color: green;
  border-radius: 30px;

  cursor: pointer;
  transition: background-color 0.5s;
}

.calculate-button:hover {
  background-color: rgb(0,69,0);
}