.output-table-div {
  border-style: none;
  /*width: 100%;*/
  overflow-x: auto;
}

.output-table-div::-webkit-scrollbar {
  display: none;
}

.message-div {
  position: relative;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 15px;
  width: 300px;
  height: 100px;
  padding: 20px;

  box-shadow: 0px 0px 15px rgba(255,255,255,0.5) inset;

  text-align: center;
}

.message-title {
  position: absolute;
  top: -10px;
  left: 50%;
  translate: -50%;
  background-color: black;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
}

table {
  margin-top: 25px;

  table-layout: fixed;

  border-collapse: collapse;

  color: black;
}

th {
  text-align: center;
  padding: 10px 10px;

  width: 100px;

  background-color: green;
  color: white;
}

th:nth-child(1) {
  max-width: 40px;
}

td {
  text-align: right;
  padding: 7px 10px;
  border: solid 1px rgba(50,50,50,0.2);
}

tr:hover {
  background-color: green;
  color: white;
}

tr:nth-child(even) {
  background-color: rgb(180,180,180);
}

tr:nth-child(odd) {
  background-color: rgb(200,200,200);
}

tr:nth-child(even):hover {
  background-color: green;
  color: white;
}

tr:nth-child(odd):hover {
  background-color: green;
  color: white;
}