body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 75px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;

  background-color: black;
  color: white;
  font-family: Arial;
}

.header-div {
  position: fixed;
  top: 0px;
  height: 75px;
  width: 100vw;

  display: flex;

  z-index: 100;
  background-color: black;
  box-shadow: 0px 1px 25px 0px white;
}

.header-logo-img {
  height: 100%;
}

.header-buttons-div {
  display: flex;
  overflow-x: auto;
  overflow-y:hidden;
  scrollbar-width: none;
}

.header-button {
  vertical-align: top;

  border-style: none;
  border-radius: 15px;

  background-color: black;
  color: white;
  height: 100%;
  min-width: 100px;
  margin-left: 0px;
  margin-right: 5px;

  font-weight: 600;

  transition: background-color 1s, color 1s;
}

.header-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.main-contents-div {
  min-height: calc(100vh - 280px);

  display: flex;

  margin-top: 25px;
  margin-bottom: 25px;
}

.main-bar-div {
  width: 10vw;
  min-width: 100px;
}

.main-center-div {
  width: 80vw;
  min-width: 500px;
}

.footer-div {
  height: 125px;
  min-width: 700px;
  padding: 15px;
  background-color: green;

  display: flex;
  vertical-align: top;
  justify-content: space-between;
}

.left-footer-div {
  display: flex;
}

.footer-logo-div {
  height: 100%;
  margin-right: 20px;
}

.footer-logo-img {
  height: 100%;
  border-radius: 20px;
}

.footer-links-container {
  display: flex;

  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(255,255,255,0.5);
}

.footer-links-col{
  padding: 10px 0px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link-p {
  margin: 0;
  padding: 0;
}

.footer-link-p>p {
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.footer-link-p>p:hover {
  color:rgb(65, 208, 255);
  text-decoration: underline;
}

.right-footer-div {
  height: 100%;
  width: 100px;
}

.construction-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.construction-img {
  width: 200px;
  display: block;
  margin-bottom: 25px;
}