body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.header-div {
  background-color: black;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100px;
}

.header-button {
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-radius: 15px;

  background-color: black;
  color: white;
  height: 75px;
  margin-left: 0px;
  margin-right: 0px;

  transition: background-color 1s, color 1s;
}

.header-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.title-heading1 {
  margin-top: 110px;
}