.main-contents-div {
  position: absolute;
  top: 120px;
  left: 50%;
  translate: -50%;
  border-style: solid;
  border-color: white;
}

.calc-selector-div {
  padding: 5px;
  text-align: center;
}

.input-div {
  border-color: white;
  border: solid;
  border-radius: 15px;
  text-align: center;
}

.calculate-button {
  display: block;
  position: relative;
  margin-top: 10px;
  left: 50%;
  translate: -50%;
}

.output-table-div {
  margin-top: 1000px;
}

.output-column-div {
  display: inline-block;
  margin-right: 15px;
}

.column-text {
  text-align: center;
}