body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.calculate-button {
  display: block;
  margin-top: 10px;
}

.input-div {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;

  border-color: white;
  border: solid;
}

.output-table-div{
  display: inline-block;
}

.output-column-div {
  display: inline-block;
  margin-right: 15px;
}

.column-text {
  text-align: center;
}