body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.calculate-button {
  display: block;
  margin-top: 10px;
}

.input-div {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}